<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8"/>
    <head>
        <script src="https://d3js.org/d3.v3.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/main/css/global.css" />
        <link rel="stylesheet" href="/static/main/css/d3.slider.css" />

    </head>


    <body>
        <div class="root" role="main">
            <h1>Sun power</h1>
            <h2>Study of how much solar power reach the earth</h2>
            <p>The goal of this page is to compute the solar power available on Earth depending on the location and the time.
                The idea behing this is to see how solar panel are self-sufficient or not.</p>
            So... What do we need to compute this ?

            <h3>1. The solar flux before entering the atmosphere.</h3>
            <a href="ftp://ftp.cira.colostate.edu/ftp/Raschke/Book/Radiation%20Assessment%202007-8/Literatur%20dazu/Thekaekara-AplOpt76-TSI.pdf" target="_blank">Thekaekara et al.(1976)</a> found <strong style="color:red;">1353 W/m<sup>2</sup></strong>.
            The value will be good enough for our little experimentation.

            <h3>2. The fraction of light remaining after going through the atmosphere.</h3>
            When light goes throug the atmosphere a fraction of it is reflected in every direction, resulting in a loss of incident energy.
            It is a function of the quantity of atmosphere crossed.
            One good approximation is:
            <div class="formula">F = 1.1 * 0.7<sup>AM<sup>0.678</sup></sup></div>
            where AM is the air mass. This unit measure the quantity of atmosphere but is normalized relatively to the quantity seen when the
            light arrives with a perpendicular incidence (vertically).
            <div class="plot" id="container-intensity-plot"></div>
            <h3>3. The relation between the angle of the incoming light and the air mass.</h3>
            According to <a href="https://en.wikipedia.org/wiki/Air_mass_(solar_energy)" target="_blank">Wikipedia</a> the air mass can be described as:
            <div class="formula">AM = <span style="white-space: nowrap; font-size:larger">
                &radic;<span style="text-decoration:overline;">&nbsp;(r<sup>2</sup> cos z) + 2r + 1&nbsp;</span>  - r cos z</span></div>
            where r is the ratio earth radius to athmosphere thickness
            r=708
            and z is the incidence angle with respect to the normal (0 degree is vertical)
            <div class="plot" id="container-air-mass-plot"></div>
            <div id="container-inputs">
                <div class="plot" id="container-elevation-plot"></div>
                <div id="container-sliders">
                    <div>
                        <span class="coord_name">Latitude: <span id="latitude-number"></span></span>
                        <div id="slider_latitude"></div>
                    </div>
                    <div>
                        <span class="coord_name">Longitude: <span id="longitude-number"></span></span>
                        <div id="slider_longitude"></div>
                    </div>
                    <form>
                        Date: <input type="date"  name="date" id="date" value="">
                    </form>
                    <form>
                        Time zone offset to UTC: <input style="width:90px"type="number" step="0.5" name="utc-offset-number" id="utc-offset-number" value="0">
                    </form>
                </div>

                <p>You can compare the results with <a href="https://www.esrl.noaa.gov/gmd/grad/solcalc/azel.html" target="_blank">NOAA's solar position calculator</a></p>
            </div>
            <strong>During the whole day, this makes a total power of: <span id="daily-power" style="color:red;"></span> joules per day per m<sup>2</sup>.</strong>
            <script type="text/javascript" src="/static/main/js/d3.slider.js" ></script>
            <script type="text/javascript" src="/static/main/js/sun_motion.js" ></script>
            <script src="/static/main/js/main.js"></script>
        </div>
        <h3>4. The inclination of the receiving surface</h3>
        To be done.
    </body>
</html>
